---
apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
  labels:
    k8s-app: kube-scheduler
spec:
  containers:
    -
      command:
        - /hyperkube
        - scheduler
        - "--master=http://127.0.0.1:8080"
        - "--leader-elect=true"
      image: "quay.io/coreos/hyperkube:{{ k8s_version }}"
      livenessProbe:
        httpGet:
          host: "127.0.0.1"
          path: /healthz
          port: 10251
        initialDelaySeconds: 15
        timeoutSeconds: 1
      name: kube-scheduler
  hostNetwork: true
