---
apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  containers:
    -
      command:
        - /hyperkube
        - controller-manager
        - "--master=https://127.0.0.1"
        - "--kubeconfig=/etc/kubernetes/kube_config.yaml"
        - "--leader-elect=true"
        - "--service-account-private-key-file=/etc/kubernetes/ssl/service-account-key.pem"
        - "--root-ca-file=/etc/kubernetes/ssl/apiserver-ca.pem"
      image: "quay.io/coreos/hyperkube:{{ k8s_version }}"
      livenessProbe:
        httpGet:
          host: "127.0.0.1"
          path: /healthz
          port: 10252
        initialDelaySeconds: 15
        timeoutSeconds: 1
      name: kube-controller-manager
      volumeMounts:
        -
          mountPath: /etc/kubernetes/ssl
          name: ssl-certs-kubernetes
          readOnly: true
        -
          mountPath: /etc/ssl/certs
          name: ssl-certs-host
          readOnly: true
        -
          mountPath: /etc/kubernetes/kube_config.yaml
          name: kubeconfig
          readOnly: true
  hostNetwork: true
  volumes:
    -
      hostPath:
        path: /etc/kubernetes/ssl
      name: ssl-certs-kubernetes
    -
      hostPath:
        path: /etc/kubernetes/kube_config.yaml
      name: kubeconfig
    -
      hostPath:
        path: /usr/share/ca-certificates
      name: ssl-certs-host
