---
apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
  labels:
    k8s-app: kube-scheduler
spec:
  containers:
    -
      command:
        - /hyperkube
        - scheduler
        - "--master=https://127.0.0.1"
        - "--kubeconfig=/etc/kubernetes/kube_config.yaml"
        - "--leader-elect=true"
      image: "quay.io/coreos/hyperkube:{{ k8s_version }}"
      livenessProbe:
        httpGet:
          host: "127.0.0.1"
          path: /healthz
          port: 10251
        initialDelaySeconds: 15
        timeoutSeconds: 15
      name: kube-scheduler
      resources:
        requests:
          cpu: 100m
      volumeMounts:
        -
          mountPath: /etc/ssl/certs
          name: ssl-certs
          readOnly: true
        -
          mountPath: /etc/kubernetes/kube_config.yaml
          name: kubeconfig
          readOnly: true
        -
          mountPath: /etc/kubernetes/ssl
          name: etc-kube-ssl
          readOnly: true
  dnsPolicy: ClusterFirst
  hostNetwork: true
  restartPolicy: Always
  terminationGracePeriodSeconds: 30
  volumes:
    -
      hostPath:
        path: /usr/share/ca-certificates
      name: ssl-certs
    -
      hostPath:
        path: /etc/kubernetes/kube_config.yaml
      name: kubeconfig
    -
      hostPath:
        path: /etc/kubernetes/ssl
      name: etc-kube-ssl
