#cloud-config
---
hostname: {{ cluster_name }}-master-{{ item }}

coreos:
    flannel:
        etcd_endpoints: https://127.0.0.1:2379
        etcd_cafile: /etc/ssl/infra-etcd/ca.pem
        etcd_certfile: /etc/ssl/infra-etcd/etcd-client.pem
        etcd_keyfile: /etc/ssl/infra-etcd/etcd-client-key.pem

    update:
        reboot-strategy: etcd-lock

    locksmith:
        endpoint: https://127.0.0.1:2379
        etcd_cafile: /etc/ssl/infra-etcd/ca.pem
        etcd_certfile: /etc/ssl/infra-etcd/etcd-client.pem
        etcd_keyfile: /etc/ssl/infra-etcd/etcd-client-key.pem
        window-start: 04:00
        window-length: 1h

    etcd2:
        name: "{{ cluster_name }}-master-{{ item }}"
        discovery: "{{ infra_etcd2_discovery_url.content }}"
        initial-advertise-peer-urls: https://$public_ipv4:2380
        advertise-client-urls: https://$public_ipv4:2379
        listen-client-urls: https://127.0.0.1:2379,https://$public_ipv4:2379
        listen-peer-urls: https://$public_ipv4:2380
        cert_file: /etc/ssl/infra-etcd/etcd.pem
        key_file: /etc/ssl/infra-etcd/etcd-key.pem
        trusted_ca_file: /etc/ssl/infra-etcd/ca.pem
        client_cert_auth: true
        peer_cert_file: /etc/ssl/infra-etcd/etcd.pem
        peer_key_file: /etc/ssl/infra-etcd/etcd-key.pem
        peer_trusted_ca_file: /etc/ssl/infra-etcd/ca.pem
        peer_client_cert_auth: true

    units:
        -
            name: etcd2.service
            command: start

        -
            name: flanneld.service
            command: start
            drop-ins:
                -
                    name: 40-network-config.conf
                    content: |
                        [Service]
                        Environment="ETCD_SSL_DIR=/etc/ssl/infra-etcd"
                        ExecStartPre=/usr/bin/etcdctl --endpoints=https://127.0.0.1:2379 --ca-file=/etc/ssl/infra-etcd/ca.pem --cert-file=/etc/ssl/infra-etcd/etcd-client.pem --key-file=/etc/ssl/infra-etcd/etcd-client-key.pem set /coreos.com/network/config '{"Network":"10.244.0.0/16", "Backend": {"Type": "vxlan"}}'

        -
            name: docker.service
            command: start
            drop-ins:
                -
                    name: 40-flannel.conf
                    content: |
                        [Unit]
                        Requires=flanneld.service
                        After=flanneld.service
                -
                    name: 20-docker-opts.conf
                    content: |
                        [Service]
                        Environment="DOCKER_OPTS=--log-opt max-size=50m --log-opt max-file=3"
