defaults
    mode tcp
    timeout connect {{ haproxy_timeout_connect }}
    timeout client {{ haproxy_timeout_client }}
    timeout client-fin {{ haproxy_timeout_client_fin }}
    timeout server {{ haproxy_timeout_server }}
    timeout tunnel {{ haproxy_timeout_tunnel }}

# http to nginx-ingress-controller
frontend ft_ingress_http
    bind 0.0.0.0:80
    default_backend bk_ingress_http

backend bk_ingress_http
    server localhost 127.0.0.1:30080 check

# https to nginx-ingress-controller
frontend ft_ingress_https
    bind 0.0.0.0:443
    default_backend bk_ingress_https

backend bk_ingress_https
    server localhost 127.0.0.1:30443 check

# localhost private docker registry
frontend ft_private_registry
    bind 127.0.0.1:5000
    default_backend bk_private_registry

backend bk_private_registry
    server localhost 127.0.0.1:32500 check
