---
apiVersion: v1
clusters:
  -
    cluster:
      certificate-authority: /etc/kubernetes/ssl/apiserver-ca.pem
    name: local
contexts:
  -
    context:
      cluster: local
      user: kubelet
    name: kubelet-context
current-context: kubelet-context
kind: Config
users:
  -
    name: kubelet
    user:
      client-certificate: /etc/kubernetes/ssl/apiserver-client.pem
      client-key: /etc/kubernetes/ssl/apiserver-client-key.pem
